.main_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main_btn {
  width: 100px;
  height: 40px;

  cursor: pointer;
  background: transparent;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 6px;
}

.main_menu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin-right: 100px;
}

.text {
  width: 450px;
  border: 2px;
  border: 2px solid #000;
  margin-right: 20px;
}

.search {
  cursor: pointer;
  margin-right: 40px;
  background: transparent;
}

.btn_menu {
  width: 150px;
  height: 35px;

  border-radius: 5px;
  cursor: pointer;
  margin-left: 70px;
  background: transparent;
}

.main_tab {
  display: flex;
  flex-direction: row;
}

.btn_tab {
  width: 200px;
  border: 2px solid #5677;
  margin-top: 40px;
  margin-left: 100px;
  cursor: pointer;
  background: transparent;  
  border-radius: 5px;
}